//START Animation
@keyframes textToBlack {
    from {
      color:  white;
    }
    to {
      color:rgba(0,0,0,1)  ; 
    }
  }
  
  @keyframes textToWhite {
    from {
      color:rgba(0,0,0,1)  ; 
    }
    to {
      
      color:  white;
    }
  }
  //END Animation